footer {
    background-color: $black;
    h5 {
        text-align: center;
        font-family: 'Montserrat';
        color: $white-shade;
        font-size: .6rem;
        margin: 0;
        padding: 4px;
    }
}