.main-header {
    background-color: $pine;
    
}

.header-container {
    display: flex;
    justify-content: center;
    // position: relative;
}


.image-container {
    .willow {
        // position: absolute;
        // top: -2rem;
            width: 100%;
            box-shadow: 25px 25px white;
            z-index: 10;
        }
}



.logo-container {  
    position: relative; 
    text-transform: uppercase;
    display: flex;
    img {
        position: absolute;
        top: 4.5rem;
        left: -2.5rem;

        height: 7rem;
    }
    h2{
        font-family: 'AbrilFatface';
        font-size: 6rem;
        margin-right: 40px;
        color: $white-shade;
        width: 100%;
    }

}

//styling for contact header

.tree-background {
    background-image: url(../assets/blog-image-1.jpg);
    width: 100%;
    height: 15rem;
   .blog-text {
    position: absolute;
    h2 {
        position: relative;
        font-family: 'AbrilFatface';
        font-size: 2.5rem;
        color: $white-shade;
        text-transform: uppercase;
        top: 10.6rem;
        left: 4rem;
    }
   }
}






