#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 100px;
    width: 100%;
    background-color: $white-shade;

    h3 {
        font-family: "AbrilFatface";
        font-size: 2rem;
        text-transform: uppercase;
    }

    p {
        text-align: center;
        font-family: "Montserrat";
        font-size: 1rem;
        width: 70%;
    }

    a {
        background-color: $accent;
        font-family: "AbrilFatface";
        text-decoration: none;
        color: $black;
        text-transform: uppercase;
        margin-top: 35px;
        padding: 10px 20px;
    }
}



.gallery {
    width: 100%;

    .gallery-container {
        display: flex;
        flex-direction: column;

        .gallery-item {
            width: 100%;
            display: flex;
            margin-bottom: 60px;
            align-items: center;
            p {
                width: 70%;
            }

            .gallery-image-1 {
                background-color: $green-grey;
            }

            .gallery-image-2 {
                background-color: $pine;
            }

            .gallery-img-container {
                height: 400px;
                position: relative;
                width: 70%;

                img {
                    position: absolute;
                    height: 390px;
                    bottom: 40px;
                }

                .left-img {
                    right: 40px;
                }

                .right-img {
                    left: -040px;
                }
            }

            .gallery-text {
                width: 50%;
            }
        }
    }
}

.gallery-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    h4 {
        font-family: 'AbrilFatface';
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 70%;
    }
    p {
        font-family: 'Montserrat';
        font-size: 1rem;
    }
    a {
        font-family: 'AbrilFatface';
        background-color: $accent;
        padding: 10px 20px;
        color: $black;
        font-size: .8rem;
        text-transform: uppercase;
        // width: 30%;
        
    }
}

.test {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    // margin-right: 10%;
}

// willow journey  section

 .journey {
    width: 100%;
    // display: flex;
    margin: 100px 100px;
    background-color: $white-shade;
    padding: 100px 100px;
    .journey-container {
        display: flex;
        img {
            box-shadow: 20px 20px $green-grey;
                width: 13rem;
        }
    }
    .journey-text {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-content: right;
        margin-left: 100px;
        // padding: 100px 100px;
        h3 {
            font-family: 'AbrilFatface';
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        p {
            font-family: 'Montserrat';
            font-size: .8rem; 
        }
        a {
            font-family: 'AbrilFatface';
            color: $black;
            text-align: center;
            font-size: .6rem;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $accent;
            padding: 10px 20px;
            width: 50%;
            margin-top: 20px;
        }
    }   
}

// background static image

.static-image img {
    width: 100%;
}

// gallery with fruit

.gallery-2-container {
    display: inline-block;
    width: 100%;
    img {
        margin: 80px 20px;
        width: 15rem;
    }
}


//contact section

.flex-contact {
    display: flex;
    flex-wrap: wrap;
    .footer-link {
        display: flex;
        width: 50%;
        img {
            background-color: $accent;
            border-radius: 50%;
            transform: scale(.5);
            padding:10px;
            
        }
        h4 {
            padding-top: 15px;
            font-family: 'AbrilFatface';
            text-transform: uppercase;
            font-size: 1.3rem;
            margin: 0;
        }
        p {
            font-family: 'Montserrat';
            font-size: 1rem;
        }
    }
}




//section for blog and news

#main-blog-content {
    background-color: $white-shade;
    padding-top: 50px;
}

.blog-page-body {
    display: flex;
}

.colomn1 {
    width: 30%
}

.about-willow {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
    padding: 20px;

    h3 {
        margin: 0;
        font-family: 'AbrilFatface';
        font-size: .6rem;
        text-transform: uppercase;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 100;
    }

    p {
        margin: 0;
        font-family: 'Montserrat';
        font-size: .6rem;
        line-height:20px;

        a {
            text-decoration: none;
            color: $green-grey;
        }
    }
}


.recent-posts {    
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        padding: 20px;
        margin-top: 10px;

        h3 {
            // margin: 0;
            font-family: 'AbrilFatface';
            font-size: .6rem;
            text-transform: uppercase;
            text-align: left;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 100;
        }
        ul {
            padding: 0;
            margin-left: 20px;
            li {
                margin: 0;
                font-family: 'Montserrat';
                font-size: .6rem;
                line-height: 20px;
            }
        }
}

.colomn2 {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20px;
    .travel {
        background-color: white;
        padding: 20px;
        width: 100%;
        border-bottom: 4px solid $green-grey;
        h3 {
            font-family: 'AbrilFatface';
            font-size: 1.2rem;
            font-weight: 200;
            text-transform: uppercase;
        }
        p {
            font-family: 'Montserrat';
            font-size: .7rem;
            line-height: 20px;
        }
    }
}

.post {
    display: flex;
    background-color: white;
    margin-top: 20px;
    p {
        font-family: 'Montserrat';
        font-size: .7rem;
        margin-left: 15px;
        margin-bottom: 0;
    }
}

.post-2 {
    border-bottom: 4px solid $green-grey;
}

.form-submit {
    margin-top: 20px;
    border-radius: none;  

}


//main blog section

.col1 {
    width: 30%
}







