html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "AbrilFatface";
  src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf), url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
  font-weight: normal;
}
html {
  font-size: 125%;
}

.wrapper {
  max-width: 1260px;
  width: 85%;
  margin: 0 auto;
}

.text-align-right {
  text-align: right;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: #345231;
  z-index: 10;
}
.skip-link:focus {
  left: 0;
}

.mainNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: sticky;
  top: 0;
  background-color: #345231;
  z-index: 20;
}

.mainNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  padding-left: 0;
  width: 100%;
}
.mainNav ul li {
  list-style: none;
}
.mainNav ul li a {
  text-decoration: none;
  color: #f6f6f6;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin: 20px;
}

.mainNav li .logo {
  font-family: "AbrilFatface";
  font-size: 1.5rem;
  font-weight: 200;
}

.main-header {
  background-color: #345231;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.image-container .willow {
  width: 100%;
  -webkit-box-shadow: 25px 25px white;
          box-shadow: 25px 25px white;
  z-index: 10;
}

.logo-container {
  position: relative;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.logo-container img {
  position: absolute;
  top: 4.5rem;
  left: -2.5rem;
  height: 7rem;
}
.logo-container h2 {
  font-family: "AbrilFatface";
  font-size: 6rem;
  margin-right: 40px;
  color: #f6f6f6;
  width: 100%;
}

.tree-background {
  background-image: url(../assets/blog-image-1.jpg);
  width: 100%;
  height: 15rem;
}
.tree-background .blog-text {
  position: absolute;
}
.tree-background .blog-text h2 {
  position: relative;
  font-family: "AbrilFatface";
  font-size: 2.5rem;
  color: #f6f6f6;
  text-transform: uppercase;
  top: 10.6rem;
  left: 4rem;
}

.tree-background-2 {
  background-image: url(../../../assets/contact-image-1.jpg);
  width: 100%;
  height: 15rem;
}
.tree-background-2 .blog-text {
  position: absolute;
}
.tree-background-2 .blog-text h2 {
  position: relative;
  font-family: "AbrilFatface";
  font-size: 2.5rem;
  color: #f6f6f6;
  text-transform: uppercase;
  top: 10.6rem;
  left: 4rem;
}

.col1 {
  width: 30%;
}

#main-contact-content {
  background-color: #f6f6f6;
}

.contact-page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.contact-info a {
  font-family: "Montserrat";
  font-size: 0.7rem;
  line-height: 20px;
  text-decoration: none;
  color: #1f1f1f;
  font-weight: bold;
}
.contact-info p {
  font-family: "Montserrat";
  font-size: 0.7rem;
  line-height: 19px;
}

.col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin-left: 20px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.social i {
  color: #345231;
  margin-right: 20px;
  margin-bottom: 20px;
}

#main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  margin-bottom: 0;
  padding-bottom: 100px;
  width: 100%;
  background-color: #f6f6f6;
}
.about h3 {
  font-family: "AbrilFatface";
  font-size: 2rem;
  text-transform: uppercase;
}
.about p {
  text-align: center;
  font-family: "Montserrat";
  font-size: 1rem;
  width: 70%;
}
.about a {
  background-color: #e4a436;
  font-family: "AbrilFatface";
  text-decoration: none;
  color: #1f1f1f;
  text-transform: uppercase;
  margin-top: 35px;
  padding: 10px 20px;
}

.gallery {
  width: 100%;
}
.gallery .gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery .gallery-container .gallery-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery .gallery-container .gallery-item p {
  width: 70%;
}
.gallery .gallery-container .gallery-item .gallery-image-1 {
  background-color: #709b6b;
}
.gallery .gallery-container .gallery-item .gallery-image-2 {
  background-color: #345231;
}
.gallery .gallery-container .gallery-item .gallery-img-container {
  height: 400px;
  position: relative;
  width: 70%;
}
.gallery .gallery-container .gallery-item .gallery-img-container img {
  position: absolute;
  height: 390px;
  bottom: 40px;
}
.gallery .gallery-container .gallery-item .gallery-img-container .left-img {
  right: 40px;
}
.gallery .gallery-container .gallery-item .gallery-img-container .right-img {
  left: -40px;
}
.gallery .gallery-container .gallery-item .gallery-text {
  width: 50%;
}

.gallery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}
.gallery-text h4 {
  font-family: "AbrilFatface";
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 70%;
}
.gallery-text p {
  font-family: "Montserrat";
  font-size: 0.8rem;
}
.gallery-text a {
  font-family: "AbrilFatface";
  background-color: #e4a436;
  padding: 10px 20px;
  color: #1f1f1f;
  font-size: 0.8rem;
  text-transform: uppercase;
  text-decoration: none;
}

.test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.journey {
  width: 100%;
  margin: 100px 100px;
  background-color: #f6f6f6;
  padding: 100px 100px;
}
.journey .journey-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.journey .journey-container img {
  -webkit-box-shadow: 20px 20px #709b6b;
          box-shadow: 20px 20px #709b6b;
  width: 13rem;
}
.journey .journey-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -ms-flex-line-pack: right;
      align-content: right;
  margin-left: 100px;
}
.journey .journey-text h3 {
  font-family: "AbrilFatface";
  font-size: 1.5rem;
  text-transform: uppercase;
}
.journey .journey-text p {
  font-family: "Montserrat";
  font-size: 0.8rem;
}
.journey .journey-text a {
  font-family: "AbrilFatface";
  color: #1f1f1f;
  text-align: center;
  font-size: 0.6rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #e4a436;
  padding: 10px 20px;
  width: 50%;
  margin-top: 20px;
}

.static-image img {
  width: 100%;
}

.gallery-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1200px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.gallery-2-container img {
  margin: 80px 20px;
  width: 15rem;
}

.flex-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-contact .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.flex-contact .footer-link img {
  background-color: #e4a436;
  border-radius: 50%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  padding: 10px;
}
.flex-contact .footer-link h4 {
  padding-top: 15px;
  font-family: "AbrilFatface";
  text-transform: uppercase;
  font-size: 1.3rem;
  margin: 0;
}
.flex-contact .footer-link p {
  font-family: "Montserrat";
  font-size: 1rem;
}

#main-blog-content {
  background-color: #f6f6f6;
  padding-top: 50px;
}

.blog-page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.colomn1 {
  width: 30%;
}

.about-willow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 20px;
}
.about-willow h3 {
  margin: 0;
  font-family: "AbrilFatface";
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
}
.about-willow p {
  margin: 0;
  font-family: "Montserrat";
  font-size: 0.6rem;
  line-height: 20px;
}
.about-willow p a {
  text-decoration: none;
  color: #709b6b;
}

.recent-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 20px;
  margin-top: 10px;
}
.recent-posts h3 {
  font-family: "AbrilFatface";
  font-size: 0.6rem;
  text-transform: uppercase;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 100;
}
.recent-posts ul {
  padding: 0;
  margin-left: 20px;
}
.recent-posts ul li {
  margin: 0;
  font-family: "Montserrat";
  font-size: 0.6rem;
  line-height: 20px;
}

.colomn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin-left: 20px;
}
.colomn2 .travel {
  background-color: white;
  padding: 20px;
  width: 100%;
  border-bottom: 4px solid #709b6b;
}
.colomn2 .travel h3 {
  font-family: "AbrilFatface";
  font-size: 1.2rem;
  font-weight: 200;
  text-transform: uppercase;
}
.colomn2 .travel p {
  font-family: "Montserrat";
  font-size: 0.7rem;
  line-height: 20px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  margin-top: 20px;
}
.post p {
  font-family: "Montserrat";
  font-size: 0.7rem;
  margin-left: 15px;
  margin-bottom: 0;
}

.post-2 {
  border-bottom: 4px solid #709b6b;
}

.form-submit {
  margin-top: 20px;
  border-radius: none;
}

footer {
  background-color: #1f1f1f;
}
footer h5 {
  text-align: center;
  font-family: "Montserrat";
  color: #f6f6f6;
  font-size: 0.55rem;
  font-weight: 100;
  margin: 0;
  padding: 4px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1000px;
}

input,
textarea {
  border: none;
  font-family: "Montserrat";
  color: #333;
  padding: 20px;
  margin-bottom: 20px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #1f1f1f;
  opacity: 1;
  line-height: 1.2;
  text-transform: capitalize;
  -webkit-box-align: center;
          align-items: center;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  font-size: 0.8rem;
  color: #1f1f1f;
  opacity: 1;
  line-height: 1.2;
  text-transform: capitalize;
  align-items: center;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #1f1f1f;
  opacity: 1;
  line-height: 1.2;
  text-transform: capitalize;
  -ms-flex-align: center;
      align-items: center;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  font-size: 0.8rem;
  color: #1f1f1f;
  opacity: 1;
  line-height: 1.2;
  text-transform: capitalize;
  -ms-flex-align: center;
      align-items: center;
}
input::placeholder,
textarea::placeholder {
  font-size: 0.8rem;
  color: #1f1f1f;
  opacity: 1;
  line-height: 1.2;
  text-transform: capitalize;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input {
  width: 49%;
}

textarea {
  width: 100%;
}

.contact-button {
  background-color: #e4a436;
  padding: 18px;
  border: none;
  width: 100%;
  font-family: "AbrilFatface";
  text-transform: uppercase;
}